.contact {
    margin-top: 100px;
}

.contact .contact-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.contact .contact-title .icon-code {
    font-size: 1.9rem;
}

.contact .contact-content {
    display: flex;
    gap: 10px;
}