
/* hero section */

.hero {
    position: relative;
}

.hero .sections-container {
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    min-height: 70vh;
}

@media (max-width : 768px) {
    .hero .sections-container{
        padding: 5px 15px;
        margin-top: 3.5rem;
    }

}

/* left section */

.hero .sections-container .left-section .parent-avatar {
    display: flex;
    gap: 10px;
}

.hero .sections-container .left-section .parent-avatar img {
    width: 120px;
    border-radius: 50%;
    border: 1px solid darkorange;
    padding: 2px;
    box-shadow: 1px 1px 40px rgba(128, 128, 128, 0.215) inset;
}

.hero .sections-container .left-section .parent-avatar .icon-verified {
    color: var(--blue);
    align-self: flex-end;
    margin-bottom: 10px;
    
}

.hero .sections-container .left-section h1 {
    font-size: 33px;
    font-weight: 600;
    margin-top: 20px;
    color: var(--title);
}

.hero .sections-container .left-section p {
    margin-top: 20px;
    color: var(--subtitle);
    line-height: 1.7;
}

.hero .sections-container .left-section .social {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

.hero .sections-container .left-section .social a {
    transition: 0.4s;
    color: var(--subtitle);
    font-size: 1.4rem;
}

.hero .sections-container .left-section .social a:hover {
    color: var(--title);
}

.hero .sections-container .download-button {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: rgba(255, 0, 0, 0.885);
    height: fit-content;
    padding: 10px 20px;
    border-radius: 30px;
    transition: 0.3s;
}

.hero .sections-container .download-button .icon-download {
    display: none;
}

.hero .sections-container .download-button:hover .icon-file-pdf {
    display: none;
}

.hero  .sections-container .download-button:hover .icon-download {
    display: block;
}

.hero .sections-container .download-button:hover {
    background-color: rgba(219, 0, 0, 0.885);
}

/* right section */

.hero .sections-container .right-section{
    width: 100%;
    translate: 30px 10px;
}

@media (max-width: 1200px) {
    .hero .right-section {
        display: none;
    }
}

@media (max-width : 768px) {
    .hero .sections-container .left-section h1 {
        font-size: 1.4rem;
    }

    .hero .sections-container .left-section p {
        font-size: 0.9rem;
    }
}

@media (max-width : 392px) {
    .hero .sections-container .left-section h1 {
        font-size: 1.2rem;
    }

    .hero .sections-container .left-section p {
        font-size: 0.8rem;
    }
}

.test {
    border: 1px solid green;
}

/* start scroll icon*/

.scroll-downs {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }