
/* hero section */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 120px;
}

.hero .sections-container {
    margin-top: 9rem;
    display: flex;
    justify-content: space-between;
}

@media (max-width : 768px) {
    .hero .sections-container{
        padding: 5px 15px;
        margin-top: 3.5rem;
    }

}

/* left section */

.hero .sections-container .left-section .parent-avatar {
    display: flex;
    gap: 10px;
}

.hero .sections-container .left-section .parent-avatar img {
    width: 120px;
    border-radius: 50%;
    border: 1px solid darkorange;
    padding: 2px;
    box-shadow: 1px 1px 40px rgba(128, 128, 128, 0.215) inset;
}

.hero .sections-container .left-section .parent-avatar .icon-verified {
    color: var(--blue);
    align-self: flex-end;
    margin-bottom: 10px;
    
}

.hero .sections-container .left-section h1 {
    font-size: 33px;
    font-weight: 600;
    margin-top: 20px;
    color: var(--title);
}

.hero .sections-container .left-section p {
    margin-top: 20px;
    color: var(--subtitle);
    line-height: 1.7;
}

.hero .sections-container .left-section .social {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

.hero .sections-container .left-section .social a {
    transition: 0.4s;
    color: var(--subtitle);
    font-size: 1.4rem;
}

.hero .sections-container .left-section .social a:hover {
    color: var(--title);
}

.hero .sections-container .download-button {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: rgba(255, 0, 0, 0.885);
    height: fit-content;
    padding: 10px 20px;
    border-radius: 30px;
    transition: 0.3s;
}

.hero .sections-container .download-button .icon-download {
    display: none;
}

.hero .sections-container .download-button:hover .icon-file-pdf {
    display: none;
}

.hero  .sections-container .download-button:hover .icon-download {
    display: block;
}

.hero .sections-container .download-button:hover {
    background-color: rgba(219, 0, 0, 0.885);
}

/* right section */

.hero .sections-container .right-section{
    width: 100%;
    translate: 30px 10px;
}

@media (max-width: 1200px) {
    .hero .right-section {
        display: none;
    }
}

@media (max-width : 768px) {
    .hero .sections-container .left-section h1 {
        font-size: 1.4rem;
    }

    .hero .sections-container .left-section p {
        font-size: 0.9rem;
    }
}

@media (max-width : 392px) {
    .hero .sections-container .left-section h1 {
        font-size: 1.2rem;
    }

    .hero .sections-container .left-section p {
        font-size: 0.8rem;
    }
}

.test {
    border: 1px solid green;
}

/* start scroll icon*/

.scroll-container .icon-scroll,
.scroll-container .icon-scroll:before {
    position: absolute;
    left: 50%;
}

.scroll-container .icon-scroll
 {
    width: 30px;
    height: 50px;
    margin-left: -20px;
    bottom: 3%;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px var(--title);
    border-radius: 25px;
 }

 .scroll-container .icon-scroll:before
  {
  content: '';
  width: 8px;
  height: 8px;
  background: var(--title);
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
  }

@keyframes scroll
 {
    0% {opacity: 1;}
    100% {opacity: 0;
      transform: translateY(30px);}
 }
/* end scroll icon*/